@import '../../globals/index.scss';

.input-field-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@mixin variants($bg-color, $border-color, $active-bg, $focus-outline) {
	border-color: $border-color !important;
	background-color: $bg-color;
	&:active {
		background-color: $active-bg;
	}
	&:focus {
		outline-color: $focus-outline !important;
	}
}

.input-field {
	font-family: var(--rubik-regular);
	color: $text-primary;

	&__label {
		&--standard {
			font-family: var(--rubik-regular);
			color: $grey-700;
			margin-left: 4px;
		}

		&__asterisk {
			color: $red-800;
			margin-left: 1px;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold;
			font-size: large;
		}

		&--bold {
			font-family: var(--rubik-semibold);
		}

		&--small {
			font-size: 14px;
		}

		&--medium {
			font-size: 16px;
		}

		&--large {
			font-size: 18px;
		}
	}

	&--full {
		width: 100%;
	}

	&--small {
		padding: 8px 12px;
		border-radius: 6px;
		font-size: 14px;
		border: 1.5px solid $grey-500;
		min-width: 300px;
	}

	&--medium {
		padding: 12px 16px;
		border-radius: 8px;
		font-size: 16px;
		border: 1.5px solid $grey-500;
		min-width: 300px;
	}

	&--large {
		padding: 16px 20px;
		border-radius: 10px;
		font-size: 18px;
		border: 1.5px solid $grey-500;
		min-width: 400px;
	}

	&--contained {
		&--primary {
			@include variants($primary-30, $primary-700, $primary-60, $primary-900);
		}

		&--secondary {
			@include variants(
				$secondary-30,
				$secondary-700,
				$secondary-40,
				$secondary-900
			);
		}

		&--error {
			@include variants($red-30, $red-700, $red-40, $red-900);
		}

		&--success {
			@include variants($green-30, $green-700, $green-40, $green-900);
		}

		&--warning {
			@include variants($yellow-30, $yellow-700, $yellow-40, $yellow-900);
		}

		&--dark {
			color: white;
			&::placeholder {
				color: white;
			}
			@include variants($grey-800, $grey-50, $grey-700, $grey-20);
		}

		&--tertiary {
			@include variants(
				$tertiary-30,
				$tertiary-700,
				$tertiary-40,
				$tertiary-900
			);
		}
	}

	&--standard {
		border-width: 0 0 2px 0;
		border-radius: 0;
	}

	&--focus {
		&:focus {
			outline: 2px solid $primary-900;
			outline-offset: 2px;
		}
	}
}
