@import '../../globals/index.scss';

.radio-group {
	display: flex;
	width: fit-content;

	&--full {
		width: auto;
		.radio-group__warning-text {
			width: auto;
		}
	}
	&--horizontal {
		align-items: center;
		gap: 20px;
	}
	&--vertical {
		flex-direction: column;
		gap: 15px;
	}

	&__item {
		position: relative;
		margin-left: 20px;
		margin-right: 20px;

		&__label {
			display: flex;
			align-items: center;
		}

		input {
			position: absolute;
			opacity: 0;
		}

		&__with-label {
			&__label-first {
				margin-left: 10px;
				display: flex;
				align-items: center;
				gap: 30px;
			}

			&__icon-first {
				margin-left: 20px;
				display: flex;
				align-items: center;
			}
		}

		&__texts,
		.radio-group__item__with-label__texts {
			display: flex;
			flex-direction: column;
			gap: 4px;
			position: relative;
			left: 20px;
			&__helper {
				font-size: 14px;
				letter-spacing: 0.3px;
				&--fit {
					max-width: 120px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				&--warning {
					color: $red-700 !important;
				}
			}

			&__main {
				&--fit {
					max-width: 120px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				&--warning {
					color: $red-900 !important;
				}
			}
			&:hover,
			label:hover {
				cursor: pointer;
			}
		}

		&:hover input ~ .radio-group__input {
			background-color: $primary-100;
			cursor: pointer;
		}

		input:checked ~ .radio-group__input {
			background-color: $primary-800;
			border: 2px solid $primary-800;
		}

		&:hover input ~ .radio-group__input--warning {
			background-color: $red-100;
			cursor: pointer;
		}

		input:checked ~ .radio-group__input--warning {
			background-color: $red-800;
			border: 2px solid $red-800;
		}

		input:checked ~ .radio-group__input:after {
			display: block;
		}

		input:focus ~ .radio-group__input {
			outline: 2px solid $primary-900;
			outline-offset: 2px;
		}

		.radio-group__input:after,
		.radio-group__input--warning:after {
			content: '';
			display: none;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 40%;
			height: 40%;
			border-radius: 50%;
			background-color: white;
		}
	}
	&__input {
		position: absolute;
		top: auto;
		left: -20px;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		border: 2px solid $primary-900;

		&:after {
			content: '';
			position: absolute;
			display: none;
		}

		&--warning {
			border-color: $red-900;
		}
	}

	&__warning-text {
		width: fit-content;
		color: $red-700 !important;
		font-size: 14px;
		letter-spacing: 0.3px;
		margin: 20px;

		&--fit {
			max-width: 160px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
