@import '../../globals/index.scss';

.radio-group {
	display: flex;
	&--horizontal {
		align-items: center;
		gap: 20px;
	}
	&--vertical {
		flex-direction: column;
		gap: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
		position: relative;
		margin-left: 20px;
		margin-right: 20px;

		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		&__texts {
			display: flex;
			flex-direction: column;
			gap: 4px;
			position: relative;
			left: 20px;
			&__helper {
				font-size: 14px;
				letter-spacing: 0.3px;
			}
		}

		&:hover input ~ .radio-group__input {
			background-color: $primary-100;
		}

		input:checked ~ .radio-group__input {
			background-color: $primary-300;
		}

		input:checked ~ .radio-group__input::after {
			display: block;
		}

		&:after {
			content: '';
			display: none;
			top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: red;
		}
	}
	&__input {
		position: absolute;
		top: auto;
		left: -20px;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		border: 2px solid $primary-900;

		&::after {
			content: '';
			position: absolute;
			display: none;
		}
	}
}
